/* root */
:root {
    --primary-color: #67711d65;
    --secondary-color: #000000;
    --active-color: #9eb012e2;
    --accent-color: #67711dde;
    --background-color: #ffffffaa;
    --font-family: 'Arial', sans-serif;
}

/* root */
/* html */
html {
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, var(--active-color), var(--secondary-color));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/* html */

/* body */

body {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
    padding: 0;
    margin: 0;

    overflow-x: hidden;
}

/* body */
/* header */
header {
    background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 0 0 100px 100px;
    text-align: center;
    padding: 40px 20px;
    color: var(--secondary-color);
    box-shadow: 0 0 20px #000000;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* header */
/* topnav */

.TopNav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.TopNav a {
    display: inline-block;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 12px 25px;
    font-size: 1rem;
    background-color: var(--accent-color);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.TopNav a.current-page {
    font-weight: bold;
    text-decoration: underline;
    color: var(--active-color);
}

.TopNav a:hover {
    background-color: var(--active-color);
    color: var(--secondary-color);
    transform: scale(1.05);
    box-shadow: 0 0 20px #000000;
    animation: alternateGlow 1s infinite alternate;
}

/* topnav */
/* mainContent */
.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.mainContentText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
    color: var(--secondary-color);
    box-shadow: 0 0 20px #000000;
    gap: 20px;
    border-radius: 25px;
    background-color: var(--primary-color);
    max-width: 500px;
    height: auto;
    margin-left: 20px;
    margin-top: 600px;


}

/* producten knop */
.producten-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 1.5s ease, transform 0.3s ease;
    box-shadow: 0 0 20px #000000;
    font-weight: bold;
}

.producten-button:hover {
    background-color: var(--active-color);
    transform: scale(1.15);
    box-shadow: 0 0 20px #000000;
}

/* producten knop */
/* mainContentText2 */
.mainContentText2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
    color: var(--secondary-color);
    box-shadow: 0 0 20px #000000;
    gap: 20px;
    border-radius: 25px;
    margin-right: 20px;
    background-color: var(--primary-color);
    max-width: 500px;
    height: auto;
    margin-top: -600px;


}

.mainContentText h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.mainContentImage img {

    max-width: 100px;
    border-radius: 10px;
    box-shadow: 0 0 20px #000000;
}

/* mainContent */




/* footer */
footer {

    background: linear-gradient(to top, var(--primary-color), var(--secondary-color));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    border-radius: 100px 100px 0 0;
    text-align: center;
    padding: 40px 20px;
    color: var(--secondary-color);
    box-shadow: 0 0 20px #000000;
}

.footer .social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.footer a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer a:hover {
    background-color: var(--active-color);
    color: var(--secondary-color);
    transform: scale(1.05);
    box-shadow: 0 0 5px #000000;
    border-radius: 5px;
}

.footer i {
    color: var(--accent-color);


}

footer .copyright {
    font-size: 0.85rem;
    padding-top: 10px;
    border-top: 5px solid var(--accent-color);
    border-radius: 15%;
}

/* footer */



























/* Pagina layout */
.pageLayout {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    min-height: 100vh;
}

/* Zijstroken */
.side {
    background-color: #f5f5f5;
    padding: 30px 20px;
    font-size: 0.95rem;
    color: #333;
}

.side h3 {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #111;
}

.side p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.side.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    max-height: fit-content;
    background-color: var(--primary-color);
    border-radius: 50px;
    margin-left: 20px;
}

.side.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    max-height: fit-content;
    background-color: var(--primary-color);
    border-radius: 50px;
    margin-right: 20px;
}

@media (max-width: 900px) {


    .side {
        display: none;
    }
}






/* Contact pagina */
.contactContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    gap: 20px;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 50px;
    box-shadow: 0 0 20px #000000;

}

/* Contact pagina */


/* media */

@media (max-width: 1600px) {
    .pageLayout {
        grid-template-columns: 1fr;

    }

    .mainContent {
        flex-direction: column;
        align-items: stretch;
        gap: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    html {
        background: linear-gradient(to bottom, var(--active-color), var(--secondary-color));
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        overflow-x: hidden;
    }

    .mainContentText,
    .mainContentText2 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    .pageLayout {
        grid-template-columns: 1fr;

    }

    .mainContent {
        flex-direction: column;
        align-items: stretch;
        gap: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    html {
        background: linear-gradient(to bottom, var(--active-color), var(--secondary-color));
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        overflow-x: hidden;
    }

    .mainContentText,
    .mainContentText2 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
}


/* Mobiel */
@media (max-width: 600px) {
    .mainContent {
        flex-direction: column;
        gap: 25px;
    }

    .mainContentText,
    .mainContentText2 {
        max-width: 80%;
        padding: 25px 25px;
        overflow: hidden;
    }

    html {
        background: linear-gradient(to bottom, var(--active-color), var(--secondary-color));
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        overflow-x: hidden;
    }

    .footer {
        padding: 15px 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}